{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static '/OnlineLearn/css/layout.css' %}">
    <script src="https://kit.fontawesome.com/fed34ed002.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.5.6/css/uikit.min.css" integrity="sha512-Qd74A/PfiTq1uQtt9KeeSc2Z6/3dj4aj3ar+ewslTXBF2rXWxa+lmThB0qCupcvY4Z7lrILDQSZCeoeW2+IJ8Q==" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/sidebar.min.css" integrity="sha512-l74DvoQfunHVU2XU78fkSoyYJ6k6FzujNwWB5c3/U5AplWV6HnuyCfj4uNSEqFvd7i1nBvhUQ2Pr3e6JfkCPOA==" crossorigin="anonymous" />
</script>
     <title>{% block title %}Online Learn{% endblock %}</title>
</head>

<body style="background-color: #fff !important">
    <div class="ui left demo vertical inverted sidebar labeled icon menu m-0">
        <div class="second-side d-none">
            <div class="s-second">
                <div id="back" class="mb-4 mt-3"><i class="fas fa-angle-left mr-2"></i> Menu</div>
                <ul id="category" class="d-none">
                    <li>All technology</li>
                    <li><a href="">Technology</a></li>
                    <li><a href="">Technology</a></li>
                    <li><a href="">Technology</a></li>
                    <li><a href="">Technology</a></li>
                    <li><a href="">Technology</a></li>
                    <li><a href="">Technology</a></li>
                </ul>
                <ul id="profile" class="d-none">
                  {% if user.is_authenticated %}
                    <li>Account</li>
                    <li><a href="">My quiz results</a></li>
                    <li><a href="">My messages</a></li>
                    <li><a href="">View Profile</a></li>
                    <li><a href="">Edit Profile</a></li>
                    <li><a href="{% url 'logout' %}">Log out</a></li>
                  {% endif %}
                </ul>
            </div>
        </div>
        {% if user.is_authenticated %}
        <div class="s-first-logged">
            <div class="p-first" style="padding-bottom: 15px;">
                <div class="row">
                    <div class="col-3" style="position: static;">
                        <div class="profile-img p-img-3">
                            <img src="https://images.pexels.com/photos/414628/pexels-photo-414628.jpeg?auto=compress&cs=tinysrgb&h=350" alt="">
                        </div>
                    </div>
                    <div class="col-7" style="position: static;">
                        <h2 style="margin-top: 10px;">Hi, {{user.first_name}} {{user.last_name}}</h2>
                        <div class="mail">{{user.username}}</div>
                    </div>
                    <div class="col-1" style="position: static;">
                        <div class="d-flex align-items-center" style="height: 100%;padding-left: 13px;">
                            <i class="fas fa-angle-right"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% else %}
        <div class="s-first">
            <ul>
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'register' %}">Sign up</a></li>
            </ul>
        </div>
        <div class="xett"></div>
        {% endif %}
        <div class="s-second">
            <ul>
                <li>Most Popular</li>
                <li class="for-more-click d-flex justify-content-between"><span>Technology2</span><i class="fas fa-angle-right"></i></li>
                <li class="for-more-click d-flex justify-content-between"><span>Technology3</span><i class="fas fa-angle-right"></i></li>
                <li class="for-more-click d-flex justify-content-between"><span>Technology4</span><i class="fas fa-angle-right"></i></li>
                <li class="for-more-click d-flex justify-content-between"><span>Technology5</span><i class="fas fa-angle-right"></i></li>
                <li class="for-more-click d-flex justify-content-between"><span>Technology5</span><i class="fas fa-angle-right"></i></li>
                <li class="for-more-click d-flex justify-content-between"><span>Technology6</span><i class="fas fa-angle-right"></i></li>
                <li class="for-more-click d-flex justify-content-between"><span>Technology7</span><i class="fas fa-angle-right"></i></li>
            </ul>
        </div>
    </div>
<!-- </div> -->

    <div class="pusher" style="overflow:visible">
        <nav class="my-nav">
            <a class="nav-brand d-none d-md-inline" href="">Online Learn</a>
            <div class="phone d-flex d-md-none justify-content-between align-items-center">
                <button class="toggler" onclick="sidebarCC()"><i class="fas fa-bars"></i></button>
                <a class="nav-brand-phone" href="">Online Learn</a>
                <span></span>
            </div>
            <div class="nav-elemets d-none d-md-flex">
                <div class="main">
                    <span class="ctgr-text">Categories</span>
                  <div class="inside d-none">
                      <ul>
                          <li><span>Technology</span><i class="fas fa-angle-right"></i></li>
                          <li><span>Technology</span><i class="fas fa-angle-right"></i></li>
                          <li><span>Technology</span><i class="fas fa-angle-right"></i></li>
                          <li><span>Technology</span><i class="fas fa-angle-right"></i></li>
                          <li><span>Technology</span><i class="fas fa-angle-right"></i></li>
                      </ul>
                      <div class="double-inside d-none">
                          <ul>
                              <li>Technology</li>
                              <li>Technology</li>
                              <li>Technology</li>
                              <li>Technology</li>
                              <li>Technology</li>
                          </ul>
                      </div>
                  </div>
                </div>
                <div class="search-box d-flex">
                    <form action="">
                        <table class="in" width="100%">
                            <tr>
                                <td width="5%" align="center" style="margin-right: 2px;">
                                <span class="icon-s"><i class="fas fa-search"></i></span></td>
                                <td>
                                    <input type="text" name="" id="" placeholder="Search for something">
                                </td>
                            </tr>
                        </table>
                    </form>
                    <div class="next d-none">
                        <ul>
                            <li><i class="fas fa-search"></i><span>Fagan Wrote</span></li>
                            <li><i class="fas fa-search"></i><span>Fagan Wrote</span></li>
                            <li><i class="fas fa-search"></i><span>Fagan Wrote</span></li>
                            <li><i class="fas fa-search"></i><span>Fagan Wrote</span></li>
                            <li><i class="fas fa-search"></i><span>Fagan Wrote</span></li>
                            <li><i class="fas fa-search"></i><span>Fagan Wrote</span></li>
                            <li><i class="fas fa-search"></i><span>Fagan Wrote</span></li>
                            <li><i class="fas fa-search"></i><span>Fagan Wrote</span></li>
                        </ul>
                    </div>
                </div>
                {% if user.is_authenticated %}
                <div class="d-flex right-side-2" style="height: 61px;">
                    <div class="d-flex">
                        <!-- <div class="d-flex align-items-center">
                            first thing
                        </div> -->
                        <div class="pp d-flex align-items-center ml-2">

                            <!-- <div class="profile-text d-flex justify-content-center align-items-center">
                                <span>FR</span>
                            </div> -->
                            <div class="profile-img">
                                <img src="https://images.pexels.com/photos/414628/pexels-photo-414628.jpeg?auto=compress&cs=tinysrgb&h=350" alt="">
                            </div>
                            <div class="profile-tho d-none">
                                <div class="p-first">
                                    <div class="row">
                                        <div class="col-4">
                                            <div class="profile-img p-img-2">
                                                <img src="https://images.pexels.com/photos/414628/pexels-photo-414628.jpeg?auto=compress&cs=tinysrgb&h=350" alt="">
                                            </div>
                                        </div>
                                        <div class="col-8">
                                            <h2>{{user.first_name}} {{user.last_name}}</h2>
                                            <div class="mail">{{user.username}}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="xett"></div>
                                <div class="p-second">
                                    <ul>
                                        <li><a href="">My courses</a></li>
                                        <li><a href="">My quiz results</a></li>
                                        <li><a href="">My messages</a></li>
                                    </ul>
                                </div>
                                <div class="xett"></div>
                                <div class="p-second">
                                    <ul>
                                        <li><a href="">View Profile</a></li>
                                        <li><a href="">Edit Profile</a></li>
                                        <li><a href="{% url 'logout' %}">Log out</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% else %}
                <div class="d-flex right-side">
                   <div class="d-flex">
                        <div class="d-flex align-items-center">
                            <a class="my-btn" href="{% url 'login' %}">Login</a>
                        </div>
                        <div class="d-flex align-items-center ml-1">
                            <a class="my-btn my-reverse-btn" href="{% url 'register' %}">Sign up</a>
                        </div>
                   </div>
                </div>
                {% endif %}
            </div>
        </nav>
        <div class="body">
            {% block body %}
            {% endblock %}
        </div>
    </div>


</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="{% static '/OnlineLearn/js/layout.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/sidebar.min.js" integrity="sha512-1tmZBYaLOUohS48wc5egam1rTAIi71yvIpxj0FXHo6FskhgMF3LyCAdLvCFYi4e/L0GfH6BFtDBFD2wVa645Dg==" crossorigin="anonymous"></script>
</html>
